<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-button routerLink="../">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Oferta Promocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>
      <img src="/assets/pageBanner/Sem título1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="/assets/pageBanner/Sem título.jpg">
    </ion-slide>
  </ion-slides>

  <div class="ion-padding">
    <h4><strong>Kit de Vigilância com 4 Câmeras IP 1.3 Megapixel 11 Leds infravermelho com acesso p2p</strong></h4>

    <h5>Formas de pagamento:</h5>

    <h5>Cartão de crédito</h5>

    <span>
      R$ 589,45 em até 5 x sem juros <br><br>

      1 x 589,45 sem juros <br>
      2 x 294,72 sem juros <br>
      3 x 196,48 sem juros <br>
      4 x 147,36 sem juros <br>
      5 x 117,89 sem juros <br>
    </span>

    <h5>Boleto bancário</h5>
    <span>R$ 520,00 </span><br><br>

    <div class="desc">
      <span>Descrição</span>

      <p>
          Kit de vigilância com 4 câmeras ip com alta definição de 1.3 megapixels.

          Câmera com 11 leds infravermelho e lente de 3,6 mm, slot para cartão de memória de até
          32 GB que possibilita a gravação das imagens das câmeras.
      </p>
    </div>

    <div class="vantagem">
      <span>Veja algumas vantagens desta câmera:</span>
      <p>- Monitoramento contra roubo e furtos;</p>
      <p>- Permite visualização e controle de movimentos através da internet ou celular;</p>
      <p>- Pode ser conectada via wireless ou cabo de rede RJ45 em um roteador;</p>
      <p>- Possui dispositivo de áudio embutido, que permite a comunicação entre quem controla e o ambiente monitorado;
      </p>
      <p>- LED's infravermelhos automáticos para visão noturna até 10 metros;</p>
      <p>- Pode ser fixada invertida (ponta cabeça);</p>
      <p>- Sensor de movimento que envia um alerta para e-mail e upload de imagens para FTP;</p>
      <p>- Permite cadastro de vários usuários (administrador/operador/visitante) com senhas para acesso.</p>

    </div>

    <div class="especificacao">
      <span>Especificações Técnicas:</span>
      <p>Câmera IP 1.3 megapixels com infravermelho wireless.</p>
      <p>Acesso Nuvem P2P.</p>
      <p>Entrada de Cartão de Memória - MICRO SD (até 32 GB).</p>
      <p>Controle Remoto via Celular - IPHONE & ANDROID.</p>
      <p>Sensor de Movimento + Wi-Fi.</p>
      <p>Sensor de imagem de alta definição 720P.</p>
      <p>Resolução da tela: 1280 X 720.</p>
      <p>Lentes: f 3.6mm, F 3.0 (lente IR).</p>
      <p>Iluminação mínima: 0 lux com infravermelho acionado.</p>
      <p>Tipo: Lente de vidro.</p>
      <p>Ângulo de visão: 75º.</p>
      <p>Entrada: Microfone embutido.</p>
      <p>Saída: Auto-Falante embutido.</p>
      <p>Audio IN/OUT.</p>
      <p>Compressão: ADPCM.</p>
      <p>Compressão: H.264.</p>
      <p>Quadros por segundo: 15fps(VGA), 30fps(QVGA).</p>
      <p>Resolução: 1280 X 720.</p>
      <p>Ajuste de imagem: Vertical e Horizontal.</p>
      <p>Frequência da luz: 50Hz, 60Hz ou Ambiente externo.</p>
      <p>Parâmetros: Brilho, Contraste.</p>
      <p>Movimentação: 360º Horizontal e 160º Vertical.</p>
      <p>Infravermelho (IR): 11 LED's IR com visibilidade noturna até 10 metros.</p>

    </div>

    <div class="incluso">
      <span>Itens inclusos:</span>
      <p>04 Câmera IP Wireless.</p>
      <p>04 Fonte de alimentação 110/220V - 5V.</p>
      <p>04 Suporte para fixação + Parafusos e Buchas.</p><br><br><br>

    </div>
  </div>

  <div class="compra">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Valor R$ 589,45</h3>
        </ion-col>
        <ion-col>
          <ion-button routerLink="../">
            Comprar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>