<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Pesquisar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Produto promocional -->
  <ion-card class="welcome-card" routerLink="/details">
    <img src="/assets/banner.png" />
  </ion-card>

  <!-- Demais produtos -->

  <div class="master">
    <ion-card class="welcome-card2" routerLink="/details">
      <img src="/assets/banner.png" />

      <div>Produto</div>
      <div>R$ 89,90</div>
    </ion-card>

    <ion-card class="welcome-card2" routerLink="/details">
      <img src="/assets/banner.png" />

      <div>Produto</div>
      <div>R$ 89,90</div>
    </ion-card>

    <ion-card class="welcome-card2" routerLink="/details">
      <img src="/assets/banner.png" />

      <div>Produto</div>
      <div>R$ 89,90</div>
    </ion-card>

    <ion-card class="welcome-card2" routerLink="/details">
      <img src="/assets/banner.png" />

      <div>Produto</div>
      <div>R$ 89,90</div>
    </ion-card>
  </div>

</ion-content>