<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Pesquisar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Produto promocional -->
  <ion-card class="welcome-card" *ngFor="let product of products" [routerLink]="['/details', product.id]">
    <img [src]="product.picture" />
  </ion-card>

  <!-- Demais produtos -->
  <div class="master">
    <ion-card class="welcome-card2" *ngFor="let product of products" [routerLink]="['/details', product.id]">
      <img [src]="product.picture" />

      <div>{{ product.name }}</div>
      <div *ngIf="product.price">{{ product.price | currency: 'BRL' }}</div>
    </ion-card>
  </div>

</ion-content>