.general {
    height: 100%;
    background-image: url('/assets/background (3).jpg');
    background-position: left;
}

.image {
    width: 55%;
    margin: 30px auto;
}

.text {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    ion-title {
        margin-bottom: 10px;
        font-weight: bold;
        color: #585858;
    }

    span {
        color: rgb(129, 129, 129);
    }
}

.container {
    width: 80%;
    margin: 0 auto;

    ion-item {
        --background: rgba(var(--ion-color-medium-rgb), 0.4);

        ion-input {
            --color: rgb(85, 85, 85);
        }
    }
}