<ion-content>
  <div class="general">
    <div class="image" [hidden]="keyboard.isVisible">
      <img src="/assets/logoPrincipal.png">
    </div>

    <div class="text" [hidden]="keyboard.isVisible">
      <ion-title>Esqueceu sua senha?</ion-title>

      <span>
        Informe o CNPJ e o E-mail cadastrados para que possamos enviar um link de recuperação
      </span>
    </div>

    <div class="container">
      <ion-item class="ion-margin-top" lines="none">
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="userPassword.email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top" lines="none">
        <ion-input type="text" placeholder="CNPJ"></ion-input>
      </ion-item>

      <ion-button class="ion-margin-top" (click)="forgotPassword()" color="light" expand="block">ENVIAR</ion-button>
    </div>
  </div>
</ion-content>